* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(fondo/fondoproyecto.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
}

.adentro{
   width: 90%;
   max-width: 800px;
   margin: auto;
}


/*

Header

*/


header {
  padding: 40px ;
}

header .logo {
  text-align: center;
  margin-bottom: 20px;
}

header form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



header .barra-busqueda {
  width: 70%;
  margin: 40px;
  line-height:40px;
  background:white;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;

  
}

header .catalogo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header .catalogo a{
  color: #9b9b9b;
  margin: 10px  20px;
  font-size: 25px;
  font-weight: 700;
}

header .catalogo a.inicio{
  color: black;
}

/*
IMG-GRID
*/

.grid{
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear 1s;
}

.grid.images-loaded{
  opacity: 1;
  
}
 


.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.333333% - 20px);
}

.grid .item-content{
  position: relative;
}

.grid .item img {
  width: 100%;
  cursor: pointer;
  vertical-align: top;
}


/*
overlay
*/







.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.overlay.activo {
  display: flex;
}

.overlay img{
  width: 400px;
  
  

  
}

.overlay .description{
  display: block;
  background: white;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;

}

.img-container{
  position: relative;
}

.overlay #btn-close-popup{
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
  position:absolute;
  right: -25px;
  top: -25px ;
}